/*CSS DOCUMENT*/
@charset "UTF-8";

/*configuraciones generales*/
@font-face {
    font-family: "Sincopa";
    src: url(fonts/Sincopa\ Ella.otf) format(truetype); 
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Sincopa nina";
    src: url(fonts/Sincopa\ Nina.otf) format(truetype);
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: "Source Sans 3", sans-serif;
    background-color: rgb(234, 173, 191);
}

/*aplicaciones*/
h1 {
    font-family: 'Sincopa', sans-serif;
    color: rgb(44, 21, 175); 
    font-size: 70px;
}

h2 {
    font-family: 'Sincopa', sans-serif;
    color: rgb(226, 6, 28);
    font-size: 37px;
}

h3 {
    color: rgb(44, 21, 175);
}