/*CSS DOCUMENT*/
@charset "UTF-8";

/*configuraciones generales*/
@font-face {
    font-family: "Sincopa";
    src: url(fonts/Sincopa\ Ella.otf) format(truetype);
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: "Source Sans 3", sans-serif;
    background-color: rgb(234, 173, 191);
    margin: 0;
    padding: 5px 10px;
    line-height: 1;
}

p {
    line-height: 1.7;
    font-size: 13px;
}

/*aplicaciones*/
h1 {
    font-family: 'Sincopa', sans-serif;
    color: rgb(44, 21, 175);
    font-size: 100px;
    text-align: center;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    margin-top: 150px;
}

h2 {
    font-family: 'Sincopa', sans-serif;
    color: rgb(226, 6, 28);
    font-size: 45px;
    text-align: center;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    height: 60px;
    box-sizing: border-box;
}

.barra {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0;
}

.barra a {
    text-decoration: none;
    border: 2.8px solid rgb(226, 6, 28);
    border-radius: 100px;
    padding: 8px 16px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    color: rgb(226, 6, 28);
}

.barra a:hover {
    background-color: rgb(226, 6, 28);
    color: rgb(234, 173, 191);
    box-shadow: 0 0 15px rgb(226, 6, 28);
}

.herramientas {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.sobre-mi {
    padding-left: 180px;
    padding-right: 100px;
    display: flex;
    column-gap: 30px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 205px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(226, 6, 28);
}

.soy {
    width: 300px;
}

.soy:last-child {
    width: 600px;
}

.soy p {
    font-size: 18px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    color: rgb(246, 242, 232);
}

.sobre-mi h3 {
    color: rgb(246, 242, 232);
    border-bottom: 2px solid rgb(246, 242, 232);
}

h1,
h2 {
    margin-bottom: 0;
    justify-content: center;
}

h3 {
    font-family: 'Sincopa', sans-serif;
    color: rgb(226, 6, 28);
    font-size: 30px;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(226, 6, 28);
}

h4 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(44, 21, 175);
}

.formacion {
    margin: 30px 100px;
}

.experiencia {
    margin: 100px 100px;
}

.experiencia>h3 {
    text-align: left;
}

.exp-item {
    display: flex;
    gap: 80px;
    margin-bottom: 60px;
}

.exp-titulo {
    width: 35%;
}

.exp-descripcion {
    width: 65%;
}

.exp-descripcion ul {
    list-style: none;
    margin-top: 0;
}

.exp-descripcion li {
    margin-bottom: 12px;
    color: rgb(44, 21, 175);
    font-size: 18px;
}

.exp-descripcion li::before {
    content: "✿";
    margin-right: 10px;
    color: rgb(44, 21, 175);
}

.formacion p,
.experiencia p {
    font-size: 15px;
    color: rgb(44, 21, 175);
}

.conocimientos {
    margin: 100px 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: rgb(44, 21, 175);
}

footer p {
    font-size: 25px;
    font-weight: bold;
    color: rgb(234, 173, 191);
    margin: 0;
}

.redes {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none
}

.redes p {
    font-weight: bold;
    font-size: 25px;
    color: rgb(234, 173, 191);
}